{% extends 'base.html' %}

{% block content %}
  <div class="container p-3">
    <div class="row pt-4 mb-3">
      <h3 class="mt-4 ">Book Details</h3>
        <div class="col-6">
            <h2 class="text-primary">{{ book.title }}</h2>
        </div>
        <div class="col-6 text-end">
            <a href="{% url 'book_update' book.id %}" class="btn btn-primary">
                <i class="bi bi-pencil"></i> &nbsp; Edit Book
            </a>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body text-bg-info">
            <p class="card-text">Subtitle: {{ book.subtitle }}</p>
            <p class="card-text">Authors: {{ book.authors }}</p>
            <p class="card-text">Publisher: {{ book.publisher }}</p>
            <p class="card-text">Published Date: {{ book.published_date }}</p>
            <p class="card-text">Category: {{ book.category.name }}</p>
            <p class="card-text">Distribution Expense: ${{ book.distribution_expense }}</p>
            <div>
              <a href="{% url 'book_delete' book.id %}" class="btn btn-danger btn-lg">
                  <i class="bi bi-trash"></i> &nbsp; Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="{% url 'book_list' %}" class="btn btn-secondary m-3">Back to Book List</a>
</div>

{% endblock %}